%h1 Listing jobseekers

%table
  %tr
    %th
    %th
    %th

  - @jobseekers.each do |jobseeker|
    %tr
      %td= link_to 'Show', jobseeker
      %td= link_to 'Edit', edit_jobseeker_path(jobseeker)
      %td= link_to 'Destroy', jobseeker, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Jobseeker', new_jobseeker_path
